.gradle/
.kotlin/
.idea/
**/build/
local.properties
*.iml
captures/
.artifacts/
bugreport-*.zip
.DS_Store
__pycache__/
*.jks
*.keystore
signing.properties
sentry.properties
node_modules/

.bundle/
vendor/bundle/
fastlane/report.xml
